---

---

<div>
    <div>
        <h1>Welcome to Talking Tacos</h1>
        <p>The best Mexican food truck in Michigan</p>
        <a href="/">Where We Are</a>
    </div>
</div>

<style>
    
</style>