---
import profilePhoto from '../../public/profile-pic.png'
import { Image } from 'astro:assets';
---

<section class="pt-10 bg-saturated-yellow-bg pb-10 text-dark-text-color">
    <div class="lg:grid lg:grid-cols-2">
        <div class="mb-6 sm:mb-8">
            <div class="mb-2 sm:mb-4">
                <Image src={profilePhoto} alt='Photo of person for review' class='w-24 h-24 mx-auto' />
            </div>
            <div>
                <div class="mb-2 sm:mb-4 w-4/5 mx-auto text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repudiandae maiores nam distinctio mollitia eaque perspiciatis iure fugit porro molestias. Distinctio eaque, repudiandae necessitatibus
                </div>
                <div class="text-center font-semibold">Name of Person</div>
            </div>
        </div>
        <div class="mb-6 sm:mb-8">
            <div class="mb-3">
                <Image src={profilePhoto} alt='Photo of person for review' class='w-24 h-24 mx-auto' />
            </div>
            <div>
                <div class="mb-2 w-4/5 mx-auto text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repudiandae maiores nam distinctio mollitia eaque perspiciatis iure fugit porro molestias. Distinctio eaque, repudiandae necessitatibus
                </div>
                <div class="text-center font-semibold">Name of Person</div>
            </div>
        </div>
        <div class="mb-6 sm:mb-8">
            <div class="mb-3">
                <Image src={profilePhoto} alt='Photo of person for review' class='w-24 h-24 mx-auto' />
            </div>
            <div>
                <div class="mb-2 w-4/5 mx-auto text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repudiandae maiores nam distinctio mollitia eaque perspiciatis iure fugit porro molestias. Distinctio eaque, repudiandae necessitatibus
                </div>
                <div class="text-center font-semibold">Name of Person</div>
            </div>
        </div>
        <div class="">
            <div class="mb-3">
                <Image src={profilePhoto} alt='Photo of person for review' class='w-24 h-24 mx-auto' />
            </div>
            <div>
                <div class="mb-2 w-4/5 mx-auto text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repudiandae maiores nam distinctio mollitia eaque perspiciatis iure fugit porro molestias. Distinctio eaque, repudiandae necessitatibus
                </div>
                <div class="text-center font-semibold">Name of Person</div>
            </div>
        </div>
    </div>
</section>