---
import { Image } from 'astro:assets';
import tacos from '../../public/taco-photo.jpg'
import burrito from '../../public/burrito-photo.jpg'
import chips from '../../public/chips-photo.jpg'
---

<section class="pt-10">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center mb-5">What We Offer</h2>
    <div class="flex flex-col lg:flex-row lg:w-screen lg:justify-center lg:content-center">
        <div class="mx-auto w-3/4 mb-8 lg:flex lg:flex-col xl:items-center">
            <Image src={tacos} alt="Taco dish" class="mb-3 lg:w-5/6 lg:h-4/5 lg:ml-5 xl:ml-0" />
            <h3 class="font-semibold text-xl lg:ml-5 xl:ml-10 xl:self-start">Taco Dish</h3>
        </div>
        <div class="mx-auto w-3/4 mb-8 lg:flex lg:flex-col lg:items-center">
            <Image src={burrito} alt="Burrito dish" class="mb-3 lg:w-5/6 lg:h-4/5" />
            <h3 class="font-semibold text-xl lg:self-start lg:ml-8 xl:ml-10">Burrito Dish</h3>
        </div>
        <div class="mx-auto w-3/4 mb-8 lg:flex lg:flex-col lg:items-end xl:items-center">
            <Image src={chips} alt="Chips dish" class="mb-3 lg:w-5/6 lg:h-4/5 lg:mr-5 xl:mr-0" />
            <h3 class="font-semibold text-xl lg:self-start lg:ml-10 xl:ml-10">Chips Dish</h3>
        </div>
    </div>
    <div class="text-offwhite-text-color bg-cta-color xl:w-1/12 lg:w-1/6 w-1/4 text-center py-2 mx-auto">
        <a href="/">View Menu</a>
    </div>
</section>
