---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Food Truck Website">
	<main>
		<div>
			<div>
				<h3>Contact Info</h3>
			</div>
			<div>
				<div>Icon</div>
				<div>Phone Number</div>
			</div>
			<div>
				<div>Icon</div>
				<div>Email</div>
			</div>
			<div>
				<h4>Social</h4>
				<div>Instagram</div>
				<div>Facebook</div>
				<div>Twitter</div>
			</div>
		</div>
		<div>
			<div>
				<h2>Contact Us</h2>
				<p>Please send us a review or reached out to us if you want to book us!</p>
			</div>
			<div>
				<form action="">
					<input type="text">
					<textarea name="info" id="infobox" cols="30" rows="10"></textarea>
					<button type="submit">Send</button>
				</form>
			</div>
		</div>
	</main>
</Layout>