---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import WhatWeOffer from '../components/WhatWeOffer.astro'
---

<Layout title="Food Truck Website">
	<main>
		<Header />
		<WhatWeOffer />
	</main>
</Layout>