---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Food Truck Website">
	<main class="text-dark-text-color">
		<div>
			<h2 class="font-bold text-2xl text-center">Entree</h2>
			<div class="grid grid-cols-2 justify-items-center">
				<div>
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
				<div >
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Entree 1</h3>
					<p>Ingredients</p>
				</div>
			</div>
		</div>
		<div>
			<h2 class="font-bold text-2xl text-center">Sides</h2>
			<div class="grid grid-cols-2 justify-items-center">
				<div>
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
			</div>
		</div>
		<div>
			<h2 class="font-bold text-2xl text-center">Dessert</h2>
			<div class="grid grid-cols-2 justify-items-center">
				<div>
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
			</div>
		</div>

	</main>
</Layout>