---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Food Truck Website">
	<main class="text-dark-text-color mb-32">
		<div class="mb-7 xl:mb-10">
			<h1 class="text-center text-3xl md:text-4xl xl:text-5xl font-bold">Menu</h1>
			<div class="border-b-2 border-b-dark-text-color w-14 md:w-16 xl:w-20 m-auto"></div>
		</div>
		<div class="mb-7">
			<h2 class="font-bold text-2xl xl:text-3xl text-center mb-5">Meats</h2>
			<p class="text-center xl:text-lg">Carne asada, Pollo asado, Al pastor, Chorizo</p>
		</div>
		<div class="mb-7">
			<h2 class="font-bold text-2xl text-center mb-5 xl:text-3xl">Entree</h2>
			<div class="grid grid-cols-2 justify-items-left ml-14 md:ml-32 lg:ml-40 xl:ml-72">
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Regular Taco</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Regular Burrito</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Bean & Rice Burrito</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Bean, Cheese, and Rice</p>
				</div>
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Burrito Bowl</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg xl:text-xl">Regular Nachos</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg xl:text-xl">Quesadilla</h3>
					<p class="font-light text-sm xl:text-md xl:font-normal">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
			</div>
		</div>
		<div class="mb-7">
			<h2 class="font-bold text-2xl text-center mb-5 xl:text-3xl">Sides</h2>
			<div class="grid grid-cols-2 justify-items-left ml-14 md:ml-32 lg:ml-40 xl:ml-72">
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Chips & Salsa</h3>
				</div>
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Chips & Guac</h3>
				</div>
				<div>
					<h3 class="font-semibold text-lg xl:text-xl">Side Example</h3>
				</div>
			</div>
		</div>
		<div>
			<h2 class="font-bold text-2xl text-center mb-5 xl:text-3xl">Dessert</h2>
			<div class="grid grid-cols-2 justify-items-left ml-14 md:ml-32 lg:ml-40 xl:ml-72">
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Sopapilla</h3>
				</div>
				<div class="mb-5 xl:mb-8">
					<h3 class="font-semibold text-lg xl:text-xl">Churros</h3>
				</div>
				<div>
					<h3 class="font-semibold text-lg xl:text-xl">Dessert Nachos</h3>
				</div>
			</div>
		</div>

	</main>
</Layout>