---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Food Truck Website">
	<main class="text-dark-text-color mb-32">
		<div class="mb-7">
			<h2 class="font-bold text-2xl text-center mb-5">Meats</h2>
			<p class="text-center">Carne asada, Pollo asado, Al pastor, Chorizo</p>
		</div>
		<div class="mb-7">
			<h2 class="font-bold text-2xl text-center mb-5">Entree</h2>
			<div class="grid grid-cols-2 justify-items-left ml-14">
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Regular Taco</h3>
					<p class="font-light text-sm">Meat, Onions Cilantro, Salsa and Cheese</p>
				</div>
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Regular Burrito</h3>
					<p>Ingredients</p>
				</div>
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Bean & Rice Burrito</h3>
					<p>Ingredients</p>
				</div>
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Burrito Bowl</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Regular Nachos</h3>
					<p>Ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Quesadilla</h3>
					<p>Ingredients</p>
				</div>
			</div>
		</div>
		<div class="mb-7">
			<h2 class="font-bold text-2xl text-center mb-5">Sides</h2>
			<div class="grid grid-cols-2 justify-items-center">
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Side 1</h3>
					<p>ingredients</p>
				</div>
			</div>
		</div>
		<div>
			<h2 class="font-bold text-2xl text-center mb-5">Dessert</h2>
			<div class="grid grid-cols-2 justify-items-center">
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
				<div class="mb-5">
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
				<div>
					<h3 class="font-semibold text-lg">Dessert 1</h3>
					<p>ingredients</p>
				</div>
			</div>
		</div>

	</main>
</Layout>